[Unit]
Description=Loginpage
Requires=docker.service
After=docker.service

[Service]
Restart=never
ExecStart=/usr/bin/docker start -a loginpage
ExecStop=/usr/bin/docker stop -t 2 loginpage

[Install]
WantedBy=local.target
